<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/toms-first-css.css" type="text/css" rel="stylesheet">
    {% block title %}<title>Tom's First Webpage</title>{% endblock %}
</head>
<body>
    {% block title %} {% end block %}
    {% block header %} {% end block %}
    <main>
    {% block content %}
         <div class="container">
            <img src="https://www.outside.co.uk/wp/wp-content/uploads/2015/07/simon-kimber-soloing-ellis-eliminate-stanage-2-.jpg" style="width:700px;"/>
            <img src="https://i2-prod.nottinghampost.com/incoming/article5271521.ece/ALTERNATES/s1227b/0_DM_TEM_070421batcave_BATCAVE_131JPG.jpg" style="width: 700px;"/>
            <img src="https://www.climber.co.uk/images/bouldering/_MG_0516-V2-sidewall-Cromlech-web.jpg" style="width:800px;"/>
            <img src="https://img.ukclimbing.com/i/401729?fm=webp&time=1676635520&dpr=2&w=1134&sharp=7&s=7c2e53d89efd78b3f5c38b582ada559b" style="width:800px;"/>
            <img src="https://rockaroundtheworld.co.uk/wp-content/uploads/2022/07/wp-1656753867917246847765785004925.jpg" style="width:900px;"/>
            <img src="https://www.telegraph.co.uk/multimedia/archive/01005/ice-climbers-460b_1005343c.jpg?imwidth=960" style="width:700px;"/>
         </div>
    {% endblock %}
    </main>
</body>
</html>
