<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Index Page I Made{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div id="content" align-content="center">{% block content %}
        <div class="login-form" display="inline-block">
            <h2>Login</h2>
            <label for="username">Username</label><br />
            <input type="text" id="username" placeholder="john-smith" /><br />
            <label for="password">Password</label><br />
            <input type="text" id="password" placeholder="password" /><br />
            <input type="button" value="Submit" onClick="/login" />
        </div>

        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        Created on Github: <a href="https://github.com/stormheartfox/flask-on-render">Source code</a>.
        {% endblock %}
    </div>
</body>

</html>