{% extends "base2.j2" %}
{% block title %} 
    <title> Crack Rock Climbing </title>
{% endblock %}
{% block header %} 
    <h1> Crack Rock Climbing S/S lookbook </h1>
{% endblock %}
{% block content %} 
        <h2> GET OUTSIDE: Sent photos of sends to discourage you from
        sitting on the couch this summer. </h2>
        <p> This issues lookbook has taken considerable inspiration from last months feature 
        on The North Face's first ascent of Pool wall in Greenland, an expedition that logged 
        a first ascent of the Ingmikortilaq route while carrying out climate related experiments 
        on the Renland Icecap. The lads at Crack Rock mag were so inspireed that they have since 
        started their own environmental initiative right by their local crag in the English Peak 
        district to convert the area's grassland to peat bog, as it would have looked pre-
        Industrial Revolution. In light of our push towards combining local environmental action 
        with outdoor sports, we asked our beloved readership to send in photos that encompass
        both elements. They didn't disappoint with sending us their sends... </p>
    

        <h2>Looking into the Abys</h2>
    
        <p> I often feel to be pushing the edge. When climbing the edge exists as the threshold before the next grade.
        When outdoors the edge may literally be the sole of my shoe keeping me comfortably perched on the face of a high cliff face,
        not to be too melodramatic. More recently, and more philosophicsally I've been feeling to be on the edge of disaster. I could
        dismissively attribute this to high cortisol levels or hangovers, but the science doesn't lie. In short, there is evidence
        that we could be near the end. Not that I really believe it.</p>

            
        <a href="https://en.wikipedia.org/wiki/Dew_Tour">Visit wikipedia</a>
{% endblock %}
