h1 {
    font-family: monospace, sans-serif;
    color: blue;
    text-align: center;
}
h2 {
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
}
p {
    color: aqua;
    font-weight: bold;
    font-size: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
Copy code

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

}
.container img{
    max-width: 100%;
    height:auto;
    max-height:500px;
}
